.banner-text {
    color: white;
    font-family: Roboto;
    font-weight: bolder;
    opacity: 65%;
    position: relative;
}

.banner {
    background-color: #F7AF9D;
    background-image: url(https://i.imgur.com/oIjDZRB.jpg);
    background-size: cover;
    height: 500px;
    padding: 20px;
    border-radius: 10px;
}

.topnav {
    position: relative;
    list-style: none;
    text-align: center;
}

    .topnav li {
        display: inline;
    }

    .topnav a {
        font-weight: lighter;
        font-family: Roboto;
        text-decoration: none;
        color: black;
        font-size: 20px;
        padding: 20px;
    }

        .topnav a:hover {
            text-decoration: underline;
            -webkit-animation: fadecolor .5s;
        }

#title1 {
    font-size: 70px;
    opacity: 80%;
    -webkit-animation: fadein1 2s;
    top: 15%;
}

#title2 {
    font-size: 50px;
    -webkit-animation: fadein2 3s;
    top: 0%;
}

@-webkit-keyframes fadein1 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadecolor {
    from {
        color: black:
    }

    to {
        color: coral;
    }

    @-webkit-keyframes fadein2 {
        from

{
    opacity: 0;
}

to {
    opacity: .7;
}
}
